SQL_DIR=/enter/sql/dir/here/
URL=jdbc:hsqldb:hsql://localhost/dbperf
USR=SA
PASS=
if [ "$1" == "compile" ]; then
    javac -sourcepath "src/" -d "classes" src/dbperf/TableCreate.java
    javac -sourcepath "src/" -d "classes" src/dbperf/QueryTest.java
elif [ "$1" == "run_create" ]; then
    java -cp "classes/" dbperf.TableCreate "$SQL_DIR""drop_table.sql" "$URL" "$USR" "$PASS"
    echo "drop finished"

    java -cp "classes/" dbperf.TableCreate "$SQL_DIR""create_table.sql" "$URL" "$USR" "$PASS"
    echo "table creation finished"

    java -cp "classes/" dbperf.TableCreate "$SQL_DIR""add_key.sql" "$URL" "$USR" "$PASS"
    echo "table alter finished"
elif [ "$1" == "run_insert" ]; then
    java -cp "classes/" dbperf.TableCreate "$SQL_DIR""data.sql" "$URL" "$USR" "$PASS"
    echo "data insertion finished"
elif [ "$1" == "run_shutdown" ]; then
    echo shutdown > tmp.data
    java -cp "classes/" dbperf.TableCreate tmp.data "$URL" "$USR" "$PASS"
    rm tmp.data
    echo "shutdown finished"
elif [ "$1" == "query" ]; then
    sql=`cat query.sql`
    java -cp "classes/" dbperf.QueryTest "$URL" "$USR" "$PASS" "$sql"
    sql=""
else
    echo "not understand"
fi
